<ion-view>
    <ion-nav-title class="bar-positive">
        <h2 class="title">{{whichpatient}}</h2>
    </ion-nav-title>
    <ion-content>
        <ion-list class="list-inset">
            <ion-item class="item-text-wrap"
                      ng-repeat="item in patients | filter: { shortname: whichpatient }">
                <img ng-src="img/{{item.shortname}}_tn.jpg"
                     alt="{{ item.name }} Photo">
                <h2>{{ item.name }}</h2>
                <h3>{{ item.reknown }}</h3>
                <p>{{ item.bio }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>